## TOC:

*[01. Importing libraries]

*[02. Importing data]

*[03. Task]

# 01. Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [2]:
#defining path

path = r'C:\Users\Jonathan\08-2023 Instacart Basket Analysis'

In [6]:
#importing data sets

df_ords_prod_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

# 03. Task

In [5]:
#4. Check the shape of the imported dataframe

df_ords_prod_comb.shape

(32434489, 10)

In [7]:
#checking result

df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
#checking result

df_ords_prod_comb.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [15]:
#dropping '_merge' column so that I may merge the two data frames

df_ords_prod_comb = df_ords_prod_comb.drop(columns=['_merge'])

In [17]:
#merging the two data frames

df_large_merge = df_ords_prod_comb.merge(df_prods, on = 'product_id', indicator = True)

In [23]:
#checking the merge rates

df_large_merge['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [21]:
#checking the data frame to make sure everything merged as expected

df_large_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [24]:
#removing '_merge' column

df_large_merge = df_large_merge.drop(columns=('_merge'))

In [25]:
#creating another df to check actual merge rates using 'outer' merge

df_large_merge_outer = df_ords_prod_comb.merge(df_prods, on = 'product_id', how = 'outer', indicator = True)

In [27]:
#value counts of 'outer' merge

df_large_merge_outer['_merge'].value_counts()

both          32404859
left_only        30200
right_only          11
Name: _merge, dtype: int64

In [28]:
#exporting final df as a pkl file

df_large_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))