## TOC:

*[01. Importing libraries]

*[02. Importing data]

*[03. Task]

# 01. Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Importing datasets

In [2]:
#Defining path

path = r'C:\Users\Jonathan\08-2023 Instacart Basket Analysis'

In [3]:
#Importing datasets

ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
#Create a new subset

df = ords_prods_merged[:1000000]

In [6]:
#defining the function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [7]:
#Apply the function

df['price_range'] = df.apply(price_label, axis =1)

C:\Users\Jonathan\AppData\Local\Temp\ipykernel_34232\2067299264.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis =1)

In [8]:
#Check values

df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [9]:
#Check max value of price

df['prices'].max()

14.8

In [11]:
#defining high-range product using loc

ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [12]:
#defining mid-range product using loc

ords_prods_merged.loc[(ords_prods_merged['prices'] <= 15) & (ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [13]:
#defining low-range product using loc

ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [15]:
#value counts using loc

ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

In [20]:
#values for order_day_of_the_week

ords_prods_merged['order_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

In [21]:
#Defining loop for busiest day

result = []

for value in ords_prods_merged["order_day_of_week"]:
    if value == 0:
        result.append("Busiest day")
    elif value == 4:
        result.append("Least busy")
    else:
        result.append("Regular busy")

In [22]:
#creating 'busiest day' column

ords_prods_merged['busiest day'] = result

In [23]:
ords_prods_merged['busiest day'].value_counts(dropna = False)

Regular busy    22416875
Busiest day      6204182
Least busy       3783802
Name: busiest day, dtype: int64

In [24]:
ords_prods_merged.head(5)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regular busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regular busy
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regular busy
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy

# 03. Task

In [49]:
# 02. Create a new column for this using a suitable method

result_2 = []

for value in ords_prods_merged["order_day_of_week"]:
    if value == 0 or value == 1:
        result_2.append("Busiest days")
    elif value == 4 or value == 3:
        result_2.append("Least busy days")
    else:
        result_2.append("Regular busy")

In [50]:
ords_prods_merged['busiest days'] = result_2

In [51]:
# 03. Check the values of this new column for accuracy

ords_prods_merged['busiest days'].value_counts(dropna = False)

Regular busy       12916111
Busiest days       11864412
Least busy days     7624336
Name: busiest days, dtype: int64

There are almost as many orders on the 2 busy days as the 3 regular busy days;

In [52]:
# 04. Create a new column containing these labels called "busiest_period_of_day"

ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [57]:
#For-Loop If statement for Most orders, Fewest orders, and Average orders

result_3 = []

for value in ords_prods_merged["order_hour_of_day"]:
    if value in [10, 11, 14, 15, 13, 12, 16, 9]:
        result_3.append("Most orders")
    elif value in [23, 6, 0, 1, 5, 2, 4, 3]:
        result_3.append("Fewest orders")
    else:
        result_3.append("Average orders")

In [58]:
#creating new column for 'busiest_period_of_day'

ords_prods_merged['busiest_period_of_day'] = result_3

In [60]:
#frequency for 'busiest_period_of_day'

ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

In [65]:
#exporting dataframe

ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_busiest.pkl'))